@-webkit-keyframes _27FyRkw9 {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _27FyRkw9 {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._7FmbXsdm {
  display: none;
  position: relative;
  color: #959597;
  cursor: pointer;
  line-height: 0;
  outline: none
}

@media(min-width:400px) {
  ._7FmbXsdm {
    display: inline-block
  }
}

._2V5Wq0iE {
  height: 16px
}

._31gqk2A7 {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 10px;
  font-weight: 400;
  line-height: 1.4;
  display: none;
  width: 170px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  background-color: #303030;
  color: #fff;
  border-radius: 6px;
  transform: translate(-50%, -8px)
}

._31gqk2A7:after {
  content: "";
  display: block;
  border-top: 5px solid #303030;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%)
}

._22jsLmso ._31gqk2A7 {
  width: auto;
  white-space: nowrap
}

._7FmbXsdm:focus ._31gqk2A7,
._7FmbXsdm:hover ._31gqk2A7 {
  display: block
}

@-webkit-keyframes _1-ljclZg {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _1-ljclZg {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._3BX9Tmcv {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  color: #f73859
}

._3BX9Tmcv:focus .ZZ81DBdS,
._3BX9Tmcv:hover .ZZ81DBdS {
  filter: brightness(70%)
}

._1mASa-Pm {
  display: flex;
  align-items: center;
  padding: 0 10px
}

._2qy7IjiT {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 13px;
  display: block;
  flex-shrink: 0;
  color: #303030;
  margin-left: 10px
}

._25pA4Rm- ._1mASa-Pm {
  transition-duration: .45s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.445, .05, .55, .95);
  z-index: 1;
  line-height: 0;
  background: hsla(0, 0%, 100%, .2);
  border: 1px solid hsla(0, 0%, 100%, .6);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  height: 34px;
  width: 34px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center
}

._25pA4Rm- ._1mASa-Pm .ZZ81DBdS {
  height: 20px;
  filter: grayscale(100%) invert(100%) brightness(200%)
}

._25pA4Rm-,
._25pA4Rm-:focus,
._25pA4Rm-:hover {
  color: #fff
}

._25pA4Rm-:focus ._1mASa-Pm,
._25pA4Rm-:hover ._1mASa-Pm {
  background: hsla(0, 0%, 100%, .4);
  border: 1px solid hsla(0, 0%, 100%, .9)
}

.ZZ81DBdS {
  height: 23px
}

@media(max-width:999px) {
  ._1GiNI7Lr {
    left: 0;
    transform: translateY(-8px)
  }

  ._1GiNI7Lr:after {
    left: 18px
  }
}

@media(max-width:749px) {
  .tIJLcecF {
    left: auto;
    right: 0;
    transform: translateY(-8px)
  }

  .tIJLcecF:after {
    left: auto;
    right: 8px
  }
}

._1Lk2k6T5 {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0 20px;
  margin-bottom: 10px;
  color: #f73859;
  display: flex
}

._2mDznVkT {
  color: #f73859;
  height: 14px
}

.BjSaYHF3 {
  padding-left: 5px;
  flex: 1
}

@-webkit-keyframes _3lMIJpeA {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _3lMIJpeA {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes _1ReA8Pwl {
  0% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }

  16% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 transparent, 12px 0 0 transparent
  }

  32% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 transparent
  }

  48% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  66% {
    text-shadow: 0 0 0 transparent, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  82% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 #7c7c7d
  }

  to {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }
}

@keyframes _1ReA8Pwl {
  0% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }

  16% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 transparent, 12px 0 0 transparent
  }

  32% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 transparent
  }

  48% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  66% {
    text-shadow: 0 0 0 transparent, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  82% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 #7c7c7d
  }

  to {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }
}

._2bcqaWrd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ececee;
  padding: 10px 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all
}

@supports(-moz-appearance:none) {
  ._2bcqaWrd {
    word-break: break-all
  }
}

._2Elsqxld {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  font-weight: 500;
  color: #383838;
  word-wrap: break-word;
  word-break: break-word
}

._2Elsqxld:focus,
._2Elsqxld:hover {
  text-decoration: underline
}

._1qiem5wZ {
  outline: 0;
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: .9em;
  font-size: 10px;
  padding: 5px 10px;
  border: 1px solid #ececee;
  border-radius: 4px;
  min-width: 62px;
  cursor: pointer;
  margin: 0 0 0 10px
}

._1Mvo9r8D {
  color: #523ee8
}

._2G8joinu ._1Mvo9r8D,
._2G8joinu .tnb2-_Ip {
  display: none
}

._2G8joinu ._1x-KR_Ez {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9px
}

._2G8joinu ._1x-KR_Ez:after {
  line-height: 0;
  font-size: 16px;
  font-weight: 700;
  content: " . ";
  display: block;
  -webkit-animation: _1ReA8Pwl 1s infinite;
  animation: _1ReA8Pwl 1s infinite;
  transform: translate(-6px, -4px)
}

._15NL2s1u {
  list-style: none;
  text-align: left;
  padding: 0 20px;
  border-bottom: 1px solid #ececee;
  margin: 0 0 15px;
  max-height: 126px;
  overflow-y: scroll
}

._2q-TSNMZ {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0 20px;
  margin-bottom: 20px;
  color: #959597;
  font-weight: 500
}

@-webkit-keyframes _1xuA0OE1 {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _1xuA0OE1 {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._30aB_aEN {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
  transition: translate .18s, box-shadow .18s;
  border-radius: 10px;
  background-color: #fff;
  flex-grow: 1
}

._30aB_aEN,
.H5sr80Kd {
  overflow: hidden;
  transform: translateZ(0)
}

.H5sr80Kd {
  padding-top: 66.66667%;
  position: relative;
  background: #d8d8d9;
  background-size: 100%
}

.H5sr80Kd:after,
.H5sr80Kd:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _1xuA0OE1 1.5s linear infinite;
  animation: _1xuA0OE1 1.5s linear infinite
}

.H5sr80Kd:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

._2VNl4XQS .H5sr80Kd {
  padding-top: 56.25%
}

._3WtuxGNm {
  display: flex;
  justify-content: space-between;
  align-items: center
}

._1_6919lj {
  flex-grow: 1;
  padding: 10px 20px 11px;
  font-size: 9px
}

@media(min-width:750px) {
  ._1_6919lj {
    padding: 19px 17px 18px 18px;
    font-size: 13px
  }
}

._1oZyTK2- {
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0);
  height: 10px;
  border-radius: 6px
}

._1oZyTK2-:after,
._1oZyTK2-:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _1xuA0OE1 1.5s linear infinite;
  animation: _1xuA0OE1 1.5s linear infinite
}

._1oZyTK2-:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

@media(max-width:749px) {
  ._1oZyTK2- {
    height: 10px
  }
}

._3BBkgYPV {
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0);
  height: 9px;
  border-radius: 6px;
  width: 75%;
  margin-top: 10px
}

._3BBkgYPV:after,
._3BBkgYPV:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _1xuA0OE1 1.5s linear infinite;
  animation: _1xuA0OE1 1.5s linear infinite
}

._3BBkgYPV:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

@media(min-width:750px) {
  ._3BBkgYPV {
    margin-top: 12px
  }
}

._2HlAikeN {
  display: none;
  color: #d8d8d9;
  margin: 4px 20px;
  height: 20px;
  width: 20px
}

@media(min-width:750px) {
  ._2HlAikeN {
    display: block
  }
}

@-webkit-keyframes _2LbH7S7H {
  0% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }

  16% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 transparent, 12px 0 0 transparent
  }

  32% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 transparent
  }

  48% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  66% {
    text-shadow: 0 0 0 transparent, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  82% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 #7c7c7d
  }

  to {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }
}

@keyframes _2LbH7S7H {
  0% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }

  16% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 transparent, 12px 0 0 transparent
  }

  32% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 transparent
  }

  48% {
    text-shadow: 0 0 0 #7c7c7d, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  66% {
    text-shadow: 0 0 0 transparent, 6px 0 0 #7c7c7d, 12px 0 0 #7c7c7d
  }

  82% {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 #7c7c7d
  }

  to {
    text-shadow: 0 0 0 transparent, 6px 0 0 transparent, 12px 0 0 transparent
  }
}

._3ZzZYIGJ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
  width: 100%
}

._1Rht8Yom {
  color: #f73859;
  margin-right: 5px;
  height: 12px
}

._2ABsbLDl {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  white-space: nowrap
}

._2ABsbLDl:disabled {
  color: #959597;
  cursor: not-allowed
}

._2ABsbLDl:disabled ._2oto3_Zx {
  color: #959597
}

._2oto3_Zx {
  color: #f73859;
  margin-right: 5px;
  height: 18px;
  flex-shrink: 0
}

._2R5Y1tVD {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: 2px;
  max-width: 300px
}

._3VgOGpsk {
  display: flex
}

._1CAKFxc2 ._3VgOGpsk {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  align-items: center;
  justify-content: center;
  height: 9px
}

._1CAKFxc2 ._3VgOGpsk:after {
  line-height: 0;
  font-size: 20px;
  font-weight: 700;
  content: " . ";
  display: block;
  -webkit-animation: _2LbH7S7H 1s infinite;
  animation: _2LbH7S7H 1s infinite;
  transform: translate(-6px, -4px);
  width: 20px
}

._1CAKFxc2 ._3VgOGpsk ._2oto3_Zx,
._1CAKFxc2 ._3VgOGpsk ._2R5Y1tVD {
  display: none
}

@-webkit-keyframes _3mUIsQOf {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _3mUIsQOf {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._2CufCxPy {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
  transition: translate .18s, box-shadow .18s;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: 10px;
  background-color: #fff;
  padding: 15px 20px
}

.prvrElrc {
  display: flex;
  align-items: center
}

._295X4UKT {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0);
  margin: 5px 20px 5px 0
}

._295X4UKT:after,
._295X4UKT:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _3mUIsQOf 1.5s linear infinite;
  animation: _3mUIsQOf 1.5s linear infinite
}

._295X4UKT:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

._2uU3IkjT {
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0);
  display: block;
  width: 170px;
  height: 11px;
  border-radius: 6px;
  margin-bottom: 7px
}

._2uU3IkjT:after,
._2uU3IkjT:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _3mUIsQOf 1.5s linear infinite;
  animation: _3mUIsQOf 1.5s linear infinite
}

._2uU3IkjT:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

.r9-v-65E {
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0);
  display: block;
  width: 100px;
  height: 10px;
  border-radius: 6px
}

.r9-v-65E:after,
.r9-v-65E:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _3mUIsQOf 1.5s linear infinite;
  animation: _3mUIsQOf 1.5s linear infinite
}

.r9-v-65E:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

._2tL-k7WJ {
  width: 100%
}

._2tL-k7WJ .prvrElrc {
  flex-wrap: wrap
}

._2tL-k7WJ ._2E9scCNI {
  flex-basis: 100%;
  margin-top: 10px;
  height: 30px
}

@media(min-width:750px) {
  ._2tL-k7WJ .prvrElrc {
    flex-wrap: nowrap
  }

  ._2tL-k7WJ ._2E9scCNI {
    flex-basis: auto;
    margin-top: 0;
    height: auto
  }
}

._1MVdIiuq {
  width: 100%
}

._1MVdIiuq .prvrElrc {
  flex-wrap: wrap
}

._1MVdIiuq ._2E9scCNI {
  flex-basis: 100%;
  margin-top: 10px;
  height: 30px
}

._33xZd55u {
  position: relative;
  margin: 0 20px 20px
}

._2LEKghN4 {
  display: block;
  position: absolute;
  height: 15px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aeaeaf
}

._3ff7ZjPj {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  height: auto
}

._3ff7ZjPj:focus-within {
  border-color: #604cf5
}

._1e119-_s {
  color: #404040;
  font-weight: 500;
  height: 40px
}

._1e119-_s::-moz-placeholder {
  color: #959597
}

._1e119-_s:-ms-input-placeholder {
  color: #959597
}

._1e119-_s::placeholder {
  color: #959597
}

._1e119-_s:not(:-moz-read-only):focus {
  background-color: #fff
}

._1e119-_s:not(:read-only):focus {
  background-color: #fff
}

._1Q6QhAEX {
  padding: 5px 20px 0
}

._2rqTET2j {
  color: inherit;
  flex-shrink: 0;
  display: flex;
  align-items: center
}

._3BkzegA2,
._8BkYswml {
  position: relative
}

._3BkzegA2:before,
._8BkYswml:before {
  content: "00";
  visibility: hidden;
  position: relative
}

._8BkYswml:before {
  content: "00"
}

._1bH5lgUc {
  position: absolute;
  top: auto
}

._3BkzegA2 ._1bH5lgUc {
  left: 0
}

._8BkYswml ._1bH5lgUc {
  right: 0
}

._15CeY73r {
  display: inline-block
}

._15CeY73r ._1bH5lgUc {
  position: static
}

._15CeY73r ._3BkzegA2:before,
._15CeY73r ._8BkYswml:before {
  content: ""
}

@-webkit-keyframes psAwKP7u {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes psAwKP7u {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._2sPqfKkV {
  text-align: center;
  padding: 5px 20px
}

@media(min-width:375px) {
  ._2sPqfKkV {
    padding: 5px 50px
  }
}

._1c-dlKrO {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 20px
}

.j_JJrxSe {
  font-weight: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  font-weight: 600;
  margin-top: 20px;
  color: #404040
}

.BDy1f0Mf,
.j_JJrxSe {
  font-style: inherit;
  letter-spacing: 0
}

.BDy1f0Mf {
  min-height: 35px;
  padding: 10px 30px 11px;
  font-weight: inherit;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  outline: 0;
  border: none;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  line-height: 1em;
  transition: all .2s ease-in-out;
  background-color: #f73859;
  color: #fff;
  white-space: normal;
  width: 100%
}

.BDy1f0Mf:active,
.BDy1f0Mf:focus,
.BDy1f0Mf:hover {
  background-color: #c62e46
}

@-webkit-keyframes _5rG4zHpT {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _5rG4zHpT {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._2oW2fxrm {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #282828;
  box-shadow: inset 0 0 0 2px #282828, inset 0 0 0 3px #fff;
  font-size: 20px
}

._2oW2fxrm.pXTc4BnS {
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0);
  box-shadow: none
}

._2oW2fxrm.pXTc4BnS:after,
._2oW2fxrm.pXTc4BnS:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _5rG4zHpT 1.5s linear infinite;
  animation: _5rG4zHpT 1.5s linear infinite
}

._2oW2fxrm.pXTc4BnS:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

._3CjclR_z {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer
}

.W1JO5eUe {
  margin-left: 7%;
  display: inline-block
}

.hPhO2Uwt,
.W1JO5eUe {
  font-size: 1em
}

._35L95R-7 {
  width: 100%;
  height: 1.5em
}

.B0LmOKEk {
  font-size: 14px;
  width: 40px;
  height: 40px
}

@-webkit-keyframes _2OmKzuq- {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _2OmKzuq- {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._12tSxOLM {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 100
}

._1GUCnlnj {
  position: absolute;
  top: calc(100% + 5px);
  background-color: #fff;
  padding: 20px 0;
  border: 4px solid #523ee8;
  border-radius: 10px;
  width: 370px;
  right: -30px
}

@media(min-width:750px) {
  ._1GUCnlnj {
    right: -60px
  }

  ._1GUCnlnj._2N9yqWga {
    right: -30px
  }
}

._1GUCnlnj.RTWfNWvf {
  right: 0
}

.npjpAXip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 28px;
  height: 12px;
  z-index: 1
}

.npjpAXip:before {
  bottom: 4px;
  border-bottom: 12px solid #523ee8;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent
}

.npjpAXip:after,
.npjpAXip:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0
}

.npjpAXip:after {
  bottom: 1px;
  left: 2px;
  border-bottom: 10px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent
}

._2IVrQ7SY {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 20px
}

.dGY1hiuq {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  flex: 1
}

._2gNMVTNJ {
  white-space: nowrap
}

._2gNMVTNJ,
._3r0MaSaW {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0
}

._3r0MaSaW {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 100;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600
}

._3r0MaSaW:after {
  content: "";
  display: block;
  width: 2px;
  height: calc(100% + 12px);
  background-color: rgba(0, 0, 0, .5);
  flex-shrink: 0
}

._24YOZ9lU {
  background-color: rgba(0, 0, 0, .65);
  padding: 5px 7px
}

._3K60h3Un {
  flex-grow: 1;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

._2aqubqsQ,
._3K60h3Un {
  height: 100%
}

.jeeN210y {
  flex-grow: 1;
  position: relative
}

._3cGdbvZK {
  position: relative;
  height: 50px
}

._3cGdbvZK:focus {
  outline: 0
}

._3odtr4uT {
  height: 35px
}

.Uenx4tZW {
  height: 100%
}

@-webkit-keyframes _2zMniAYf {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _2zMniAYf {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._8RqtME-_ {
  margin: 0;
  position: relative
}

._1gC9Ng6t {
  font-weight: 400
}

._1EqUXKpL {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  margin: 0;
  cursor: pointer;
  padding: 15px 0;
  text-decoration: underline;
  white-space: nowrap
}

._1EqUXKpL:focus,
._1EqUXKpL:hover {
  text-decoration: none
}

._1EqUXKpL:focus+._2osrsuA9,
._1EqUXKpL:hover+._2osrsuA9 {
  display: block
}

._2osrsuA9 {
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 6px;
  list-style: none;
  display: none;
  position: absolute;
  left: 30%;
  transform: translateX(-30%);
  bottom: calc(100% + 5px);
  width: 170px;
  padding: 0;
  margin: 0
}

._2osrsuA9:focus,
._2osrsuA9:hover {
  display: block
}

._2osrsuA9:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  left: 30%
}

._2osrsuA9:after,
._2osrsuA9:before {
  content: "";
  position: absolute;
  top: 100%
}

._2osrsuA9:before {
  width: 100%;
  height: 10px;
  left: 0
}

._2tMcPNpZ {
  display: block
}

._3PgwjEC0 {
  padding: 12px
}

._3PgwjEC0:not(:last-child) {
  border-bottom: 1px solid #ececee
}

.IWb3TcZZ {
  display: inline-block
}

@-webkit-keyframes _1KoHpwpU {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _1KoHpwpU {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._16BUMJbO {
  display: none;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 10px;
  z-index: 1;
  margin-top: 6px
}

@media(min-width:750px) {
  ._16BUMJbO {
    display: block
  }
}

.appLoading ._16BUMJbO {
  opacity: 0
}

._16BUMJbO:hover ._3ss6wTPc {
  filter: brightness(65%)
}

._16BUMJbO:hover .fruHr7OT {
  filter: grayscale(100%) brightness(200%)
}

._3Cz5WMUV {
  cursor: pointer;
  padding: 2px 10px 0;
  background: transparent;
  border: none;
  transition: color .15s ease-in-out
}

._3ss6wTPc,
.fruHr7OT {
  width: 24px;
  height: 24px
}

.fruHr7OT {
  cursor: default;
  filter: grayscale(100%) brightness(200%)
}

._3D8msGLf {
  z-index: 1
}

.qkYGpOXl {
  left: 10px;
  margin-top: 9px;
  padding: 0 10px;
  z-index: 1
}

._2ZTbd0KB {
  left: 100%;
  transform: translate(-100%, -8px)
}

._2ZTbd0KB:after {
  left: 100%;
  transform: translateX(calc(-50% - 20px))
}

._2HPvxqqf {
  display: flex;
  align-items: center
}

._3IqovcyU {
  margin: -1px 0 0 -10px
}

._16KwoHhA {
  left: 2px
}

@-webkit-keyframes eHVSGqcm {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes eHVSGqcm {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._2EtpiRQp {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
  transition: translate .18s, box-shadow .18s;
  transform: translateY(0);
  padding: 15px 20px;
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  font-weight: 600
}

._2EtpiRQp:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
  transform: translateY(-1px)
}

._27qUqUMv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%
}

._2hMNNp3E {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0
}

._1vm0Jqdt,
.nVRl7IcA {
  flex-grow: 1
}

._1vm0Jqdt {
  display: flex;
  align-items: center
}

.AyqpFkm7 {
  margin-right: 20px;
  position: relative
}

._2KxlreC9 {
  margin-right: auto;
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1
}

.KZBzxs_J {
  margin: 0 5px 0 0;
  transform: translateY(-1px)
}

._2qiwjJTr {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
  color: inherit;
  font-weight: 700
}

._2qiwjJTr:focus {
  outline: 0;
  text-decoration: underline
}

._3Bf2JwDA {
  display: block;
  font-weight: 400;
  color: #959597;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px
}

._19c7ose3 {
  font-weight: 700;
  color: inherit;
  position: relative;
  z-index: 9000
}

._19c7ose3:focus,
._19c7ose3:hover {
  outline: 0;
  text-decoration: underline
}

._1r2TYOAz {
  text-align: left;
  margin-left: 10px;
  min-width: 54px
}

._1xqRjqfN {
  font-weight: 400
}

._1Rubrn8u {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center
}

._1Rubrn8u:not(:last-child) {
  margin-right: 10px
}

._2O5EQdkY {
  margin-right: 5px;
  height: 14px
}

._2cbXP6QR {
  display: none;
  margin-left: 10px
}

._3DgBKqjO {
  display: block
}

._1vFa_-17 {
  display: none
}

._3CRJJz_n {
  margin-left: 5px
}

._1DEA0gAP {
  flex-wrap: wrap;
  align-items: flex-end
}

._1DEA0gAP .nVRl7IcA {
  flex-basis: 100%;
  flex-shrink: 0;
  margin-bottom: 10px
}

._1DEA0gAP ._3DgBKqjO {
  display: block
}

._1DEA0gAP ._1vFa_-17 {
  display: none
}

._1DEA0gAP ._1jbcqu4Z {
  height: 30px
}

._1DEA0gAP ._27qUqUMv {
  flex-grow: 1
}

._1DEA0gAP ._2KxlreC9 {
  max-width: none
}

@media(min-width:480px) {
  ._1DEA0gAP ._2cbXP6QR {
    display: block
  }
}

@media(min-width:1000px) {
  ._1DEA0gAP {
    flex-wrap: nowrap;
    align-items: center
  }

  ._1DEA0gAP .nVRl7IcA {
    flex-basis: auto;
    flex-shrink: 1;
    margin-bottom: 0
  }

  ._1DEA0gAP ._3DgBKqjO {
    display: none
  }

  ._1DEA0gAP ._1vFa_-17 {
    display: block
  }

  ._1DEA0gAP ._1jbcqu4Z {
    height: 50px
  }

  ._1DEA0gAP ._27qUqUMv {
    flex-grow: 0
  }

  ._1DEA0gAP ._2KxlreC9 {
    max-width: 180px
  }
}

._29zDsUxJ {
  flex-wrap: wrap;
  align-items: flex-end
}

._29zDsUxJ .nVRl7IcA {
  flex-basis: 100%;
  flex-shrink: 0;
  margin-bottom: 10px
}

._29zDsUxJ ._3DgBKqjO {
  display: block
}

._29zDsUxJ ._1vFa_-17 {
  display: none
}

._29zDsUxJ ._1jbcqu4Z {
  height: 30px
}

._29zDsUxJ ._27qUqUMv {
  flex-grow: 1
}

._29zDsUxJ ._2KxlreC9 {
  max-width: none
}

@media(min-width:1000px) {
  ._29zDsUxJ ._2cbXP6QR {
    display: block
  }
}

._2-lW1Nb1 {
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0;
  background-color: #f9f9fb
}

._2-lW1Nb1 .nVRl7IcA {
  flex-basis: 100%;
  flex-shrink: 0;
  margin-bottom: 10px
}

._2-lW1Nb1 ._3DgBKqjO {
  display: block
}

._2-lW1Nb1 ._1vFa_-17 {
  display: none
}

._2-lW1Nb1 ._1jbcqu4Z {
  height: 30px
}

._2-lW1Nb1 ._27qUqUMv {
  flex-grow: 1
}

._2-lW1Nb1 ._2KxlreC9 {
  max-width: none
}

._2-lW1Nb1 ._2qiwjJTr {
  margin-bottom: 3px
}

._2-lW1Nb1 ._2qSJyP4A {
  position: relative;
  z-index: 100
}

@media(max-width:749px) {
  ._2-lW1Nb1 ._2qSJyP4A {
    font-size: 10px;
    line-height: 14px
  }
}

._2-lW1Nb1 ._27qUqUMv {
  background-color: #fff;
  border-top: 1px solid #ececee;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

@media(min-width:750px) {
  ._2-lW1Nb1 ._27qUqUMv {
    padding: 16px 16px 18px 18px
  }
}

._2-lW1Nb1 .nVRl7IcA {
  position: relative;
  margin-bottom: 0
}

._2-lW1Nb1 .nVRl7IcA:before {
  content: "";
  display: block;
  padding-top: 66.66667%
}

._2-lW1Nb1 ._1vm0Jqdt {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 100
}

@media(min-width:750px) {
  ._2-lW1Nb1 ._1vm0Jqdt {
    padding: 15px 20px
  }
}

._2-lW1Nb1 ._3nDFmWvl {
  position: absolute;
  top: 100%;
  right: 10px
}

@media(min-width:750px) {
  ._2-lW1Nb1 ._3nDFmWvl {
    right: 20px
  }
}

._2-lW1Nb1 ._2hMNNp3E {
  z-index: 1
}

._2-lW1Nb1 .AyqpFkm7 {
  margin-right: 10px
}

@media(min-width:750px) {
  ._2-lW1Nb1 .AyqpFkm7 {
    margin-right: 20px
  }
}

@media(min-width:375px)and (max-width:749px) {
  ._2-lW1Nb1 ._1r2TYOAz {
    display: none
  }
}

@media(min-width:480px)and (max-width:749px) {
  ._2-lW1Nb1 ._1r2TYOAz {
    display: block
  }
}

._2w0hf2CG {
  z-index: 9990
}

._2btagsKZ,
._2Rc0KFbU {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

._2btagsKZ {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer
}

._2btagsKZ:hover .-FBOOyuv {
  border: 2px solid #000
}

._2btagsKZ:hover .-FBOOyuv:before {
  background-color: #000
}

.-FBOOyuv {
  position: relative;
  width: 91px;
  height: 91px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, .8)
}

.-FBOOyuv,
.-FBOOyuv:before {
  transition: all .15s ease-in-out
}

.-FBOOyuv:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 50%;
  flex-shrink: 0;
  width: 81px;
  height: 81px
}

._3wY8DgkZ {
  display: inline-block;
  color: #fff;
  height: 70px;
  padding: 20px 23px 20px 30px;
  position: absolute
}

.J7f0puaR {
  display: none
}

._2gUTLpq0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer
}

._23JibHug {
  transition: opacity .2s ease-in-out;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .4));
  opacity: 0
}

._23JibHug:focus,
._23JibHug:hover {
  opacity: 1
}

._2rt5tUja {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  margin: 0;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  transition: all .15s ease-in-out;
  font-size: 15px;
  display: flex;
  align-items: center
}

._2rt5tUja:focus {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .8))
}

._3SQg-N7J {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: pointer
}

._3SQg-N7J:focus {
  outline: 0
}

._3SQg-N7J:focus .qAXR2GIt {
  box-shadow: 0 0 3px 0 hsla(0, 0%, 100%, .8)
}

.qAXR2GIt {
  background-color: currentColor;
  height: 6px;
  width: 100%
}

.BHHM7M6j {
  display: block;
  background-color: #00dcaf;
  height: 100%;
  position: relative
}

.BHHM7M6j:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -7px;
  top: -4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #00dcaf;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform .25s ease-in-out
}

._1RofNVY_:after,
._3SQg-N7J:focus .BHHM7M6j:after,
._3SQg-N7J:hover .BHHM7M6j:after {
  transform: scale(1)
}

._1VRQojLS .qAXR2GIt {
  height: 3px
}

._1VRQojLS .BHHM7M6j:after {
  width: 9px;
  height: 9px;
  top: -3px;
  right: -4.5px
}

.lzNYLbwH {
  display: flex;
  padding-right: 15px
}

._1g_bLTo2 {
  width: 0;
  transition: width .15s ease-in-out;
  color: hsla(0, 0%, 100%, .7)
}

._1g_bLTo2:focus,
._1g_bLTo2:hover,
.lzNYLbwH:hover ._1g_bLTo2 {
  width: 50px;
  margin-left: 10px;
  transition: width .25s ease-in-out
}

._2CULz7lZ {
  padding-right: 0
}

._5i6wF4Jb {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  height: 44px;
  color: #fff;
  display: flex
}

._1qgOHB_O {
  padding: 0 15px
}

._3othp09a {
  font-size: 15px
}

._3vL4mfVD {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  margin-left: 5px
}

._2fmHiVnJ {
  margin: 0 5px;
  color: hsla(0, 0%, 100%, .2)
}

._6D8jzbNj {
  font-size: 15px;
  padding-left: 0
}

._1K---8lM {
  background-color: hsla(0, 0%, 100%, .1);
  height: 4px;
  width: 100%;
  overflow: hidden
}

._2O2JkJ3o {
  background-color: #00dcaf;
  height: 100%
}

._26nVpIET {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff
}

._2e645Zac {
  flex-basis: 100%
}

._39O1ov1i {
  justify-content: space-between
}

._2ILblycj,
._39O1ov1i {
  display: flex
}

._2HwojJNu {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  margin-left: -5px;
  margin-top: 5px
}

._3fgYNLzB,
._103csOUE {
  font-size: 15px;
  padding: 15px 15px 12px
}

._103csOUE {
  padding-right: 10px
}

._3OupfUGZ {
  opacity: 0
}

._2wXsuLJE {
  opacity: 1;
  transition: opacity .2s ease-in
}

._3jXmIZy- {
  opacity: .2;
  filter: grayscale()
}

@-webkit-keyframes _3zukd-rm {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _3zukd-rm {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._36Dc-5SA {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  width: 100%
}

._36Dc-5SA:after,
._36Dc-5SA:before {
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3)
}

._36Dc-5SA:before {
  content: "";
  display: block;
  padding-top: 56.25%;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

._36Dc-5SA .video-player {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

._3zRiNm34:after,
._3zRiNm34:before {
  -webkit-animation: _3zukd-rm 1.5s linear infinite;
  animation: _3zukd-rm 1.5s linear infinite
}

._3zRiNm34:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s
}

._2QAzPurj {
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

._2QAzPurj,
.WTgT2Xih {
  position: absolute;
  height: 100%
}

.WTgT2Xih {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

._1Kukz20r {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.RZv9PZED {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer
}

._3Y5pMM3t,
.RZv9PZED {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center
}

._2U5ouale {
  display: inline-block;
  color: #fff;
  height: 70px;
  background-color: rgba(0, 0, 0, .2);
  padding: 20px 25px 20px 30px;
  border-radius: 8px;
  transition: opacity .2s ease-in-out
}

.ILrSxP0O {
  opacity: 0
}

._2jHv2iTS {
  opacity: 0;
  transition: opacity .25s ease-in-out
}

._36Dc-5SA:hover ._2jHv2iTS {
  opacity: 1
}

.wMAhSHyh {
  opacity: 0;
  transition: opacity .15s ease-in-out
}

._2aVr1fZx .wMAhSHyh,
._36Dc-5SA:hover .wMAhSHyh {
  opacity: 1;
  transition: opacity .15s ease-in-out
}

._5HUr_8Cs {
  display: block;
  right: 0;
  bottom: 0
}

._5HUr_8Cs,
._11nMJOYO {
  position: absolute;
  top: 0;
  left: 0
}

._11nMJOYO {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

._7Knq8UX2 {
  position: relative;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000)
}

._2F14Pajq {
  display: block;
  width: 100%
}

@-webkit-keyframes _1iO9HCda {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _1iO9HCda {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._2bQ1SSU9 {
  flex-grow: 1;
  border-radius: 10px 10px 0 0
}

@-webkit-keyframes _2XNzm9b8 {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _2XNzm9b8 {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.yZQMXu0y {
  position: relative;
  background: #d8d8d9;
  background-size: 100%;
  overflow: hidden;
  transform: translateZ(0)
}

.yZQMXu0y:after,
.yZQMXu0y:before {
  content: "";
  background: linear-gradient(270deg, #d8d8d9, #f2f2f3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: _2XNzm9b8 1.5s linear infinite;
  animation: _2XNzm9b8 1.5s linear infinite
}

.yZQMXu0y:before {
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
  background: linear-gradient(90deg, #d8d8d9, #f2f2f3)
}

.WtTNixJg {
  min-height: 1px
}

@-webkit-keyframes _3Ap9BAmT {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _3Ap9BAmT {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._2MQWNEpu {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  background-color: #f2f2f3;
  border-radius: 10px 10px 0 0
}

.AbZtN5Wh {
  background: #fff
}

@-webkit-keyframes _1Yz6rx_V {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _1Yz6rx_V {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

._3Lp_P7dj {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  text-align: left;
  transition: translate .18s, box-shadow .18s;
  transform: translateY(0)
}

._3Lp_P7dj:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
  transform: translateY(-1px)
}

._2FqP5dkb {
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity .15s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px
}

@media(min-width:750px) {
  ._2FqP5dkb {
    padding: 15px 16px 17px 18px
  }
}

._1QnE-3pd {
  min-width: 0;
  flex-grow: 1;
  align-self: flex-start
}

._1qdfdgnL {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  color: #303030;
  margin: 0 0 3px;
  max-width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

._16-u152t {
  margin: 0 5px 0 0
}

@media(max-width:999px) {
  ._16-u152t {
    font-size: 8px
  }
}

._19mF-j3V {
  font-weight: inherit;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Fira Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  line-height: 16px
}

._19mF-j3V,
._19mF-j3V a {
  font-weight: 700;
  color: #959597
}

._19mF-j3V a {
  position: relative;
  z-index: 1
}

._19mF-j3V a:hover {
  text-decoration: underline
}

@media(max-width:749px) {
  ._19mF-j3V {
    font-size: 10px;
    line-height: 14px
  }
}

._2qAEALYQ {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

._2qAEALYQ:not(._2FirYwtq) {
  z-index: 1
}

._3NoA2TcY {
  left: 5px;
  top: 5px
}

@media(min-width:750px) {
  ._3NoA2TcY {
    left: 15px;
    top: 6px
  }
}

._1n_74IsB {
  z-index: 9990
}
